/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:slategrey;
  color: white;
}

h1 {
  font-style: verdana, arial, sans-serif;
 
}


h2{
  font-size:20px;
  
}

#Round {
    float: right;
    margin-right: 9px;
    margin-bottom: 10px;
}

#startBtn>button{
  position:relative;
  font: 40px;
  top:20px;
}

#gameButtonArea > button {
  width:150px;
  height:150px;
  margin:2px;
  top:20px;
}
.hidden {
  display: none;
}
#gamebutton1 {
    background: lightgreen;
}
#gamebutton2 {
    background: lightblue;
}
#gamebutton3 {
    background: pink;
}
#gamebutton4 {
    background: lightyellow;
}
#gamebutton5 {
    background: grey;
}
#gamebutton6 {
    background: orange;
}
#gamebutton1:active, #gamebutton1.lit{
    background:green;
}
#gamebutton2:active, #gamebutton2.lit {
    background:blue;
}
#gamebutton3:active, #gamebutton3.lit {
    background:red;
}
#gamebutton4:active, #gamebutton4.lit {
    background:yellow;
}
#gamebutton5:active, #gamebutton5.lit {
    background:black;
}
#gamebutton6:active, #gamebutton6.lit {
    background:darkred;
}
img.bugs {
  display: none;
}

#gamebutton1:active img.bugs{
  display: block;
}
img.daffy {
  display: none;
}

#gamebutton2:active img.daffy{
  display: block;
}
img.marvin {
  display: none;
}

#gamebutton3:active img.marvin{
  display: block;
}
img.sylvester {
  display: none;
}

#gamebutton4:active img.sylvester{
  display: block;
}
img.tas {
  display: none;
}

#gamebutton5:active img.tas{
  display: block;
}
img.porky {
  display: none;
}

#gamebutton6:active img.porky{
  display: block;
}

@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
   
   font-family: 'Codystar';
   background: darkblue;
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.neons {
   margin-top: 1rem;
   
}

.neons p {
  font-size: 1rem;
  
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}